.contact {
  padding: 80px 10%;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  min-height: 100vh;
}

.contact-title {
  text-align: center;
  font-size: 42px;
}

.contact-subtitle {
  text-align: center;
  margin-bottom: 60px;
  color: #cbd5e1;
}

/* GRID */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

/* INFO BOX */
.info-box {
  display: flex;
  align-items: center;
  gap: 20px;
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.info-box:hover {
  background: rgba(255,255,255,0.1);
  transform: translateY(-5px);
}

.icon {
  font-size: 24px;
  color: #38bdf8;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255,255,255,0.05);
  padding: 30px;
  border-radius: 12px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.contact-form button {
  padding: 14px;
  border: none;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #0ea5e9;
}

@media (max-width: 900px) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}

